---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";

import data from "../data/site.json";
import {Modal} from "flowbite";
---

<Layout title={data.siteName}>
  <main>
    <Header />

    <!-- Formular -->
    <div class="container mx-auto mt-10">
      <form id="contactForm" action="#">
        <label for="name" class="block text-sm font-medium text-gray-700">Email address</label>
        <input type="text" id="name" name="name" class="mt-1 block w-full"  />

        <button data-modal-target="successModal" data-modal-toggle="successModal"
            type="submit"
            class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
        >
          Submit
        </button>
      </form>
    </div>

    <!-- Modal -->
    <div id="successModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
      <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex justify-end p-2">
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="successModal">
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
          <!-- Modal body -->
          <div class="p-6 text-center">
            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Form successfully submitted!</h3>
            <button id="closeModalBtn" type="button" class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" data-modal-hide="successModal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
    <script is:inline>

      document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('contactForm');
        const modalElement = document.getElementById('successModal');
        const modal = new Modal(modalElement, {
          backdrop: 'dynamic', // Ensures the backdrop is dynamic
          backdropClasses: 'bg-gray-900/50 dark:bg-gray-900/80 fixed inset-0 z-40',
          closable: true
        });

        function showSuccessModal() {
          modal.show();
        }

        // Event listener for the close button
        document.getElementById('closeModalBtn').addEventListener('click', function () {
          const modalElement = document.getElementById('successModal');
          const modal = new Modal(modalElement);

          modal.hide();
        });

        form.addEventListener('submit', (event) => {
          event.preventDefault();
          showSuccessModal();

        });
      });


    </script>
</Layout>
