---

const title = "Demonstration of Flowbite problem"
---

<div class="bg-gradient-to-b from-white dark:from-slate-600">
  <div class="py-16">
    <div class="text-center justify-self-center items-center p-2">
      <h1
        class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl"
      >
        {title}
      </h1>
      <p class="mt-10">Just click the Submit button to open a modal dialog.
        Then click the Close button in the modal dialog. It should close the dialog and remove the backdrop.
        Unfortunately, it just closes the dialog but does not remove the backdrop.</p>
    </div>
  </div>
</div>
